.keyb {
    flex-grow: 3;
    width: 100%;
    display: grid;
    grid-template-areas: "b1 b2 b3" "b4 b5 b6" "b7 b8 b9" ".  b0  .";
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1vw;
}

.root {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.dotParent {
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 50px;
}

.shuffle {
    animation: shuffle 0.7s ease 0s 1 normal forwards;
}
.dots {
    height: 20px;
    width: 20px;
    border: 1px solid black;
    border-radius: 50%;
    margin: 0 10px;
}

@keyframes shuffle {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70% {
        transform: translateX(-10px);
    }
    20%, 40%, 60% {
        transform: translateX(10px);
    }
    80% {
        transform: translateX(8px);
    }
    90% {
        transform: translateX(-8px);
    }
}